 /* wallust template - colors-rofi */

* {
active-background: #6DB79B;
active-foreground: #F7ECD4;
normal-background: #111010;
normal-foreground: #F7ECD4;
urgent-background: #73C17D;
urgent-foreground: #F7ECD4;

alternate-active-background: #E49656;
alternate-active-foreground: #F7ECD4;
alternate-normal-background: #111010;
alternate-normal-foreground: #F7ECD4;
alternate-urgent-background: #111010;
alternate-urgent-foreground: #F7ECD4;

selected-active-background: #73C17D;
selected-active-foreground: #F7ECD4;
selected-normal-background: #73C17D;
selected-normal-foreground: #F7ECD4;
selected-urgent-background: #73C17D;
selected-urgent-foreground: #F7ECD4;

background-color: #111010;
background: rgba(0,0,0,0.7);
foreground: #F7ECD4;
border-color: #6DB79B;

color0: #393838;
color1: #50595E;
color2: #7D5119;
color3: #AB7141;
color4: #528974;
color5: #56915E;
color6: #AF9764;
color7: #EBDCBA;
color8: #A59A82;
color9: #6A777D;
color10: #A76C21;
color11: #E49656;
color12: #6DB79B;
color13: #73C17D;
color14: #E9CA85;
color15: #EBDCBA;


}

