 /* wallust template - colors-rofi */

* {
active-background: #44E0CE;
active-foreground: #FCF4E0;
normal-background: #1D1618;
normal-foreground: #FCF4E0;
urgent-background: #FBC597;
urgent-foreground: #FCF4E0;

alternate-active-background: #D4A49A;
alternate-active-foreground: #FCF4E0;
alternate-normal-background: #1D1618;
alternate-normal-foreground: #FCF4E0;
alternate-urgent-background: #1D1618;
alternate-urgent-foreground: #FCF4E0;

selected-active-background: #FBC597;
selected-active-foreground: #FCF4E0;
selected-normal-background: #FBC597;
selected-normal-foreground: #FCF4E0;
selected-urgent-background: #FBC597;
selected-urgent-foreground: #FCF4E0;

background-color: #1D1618;
background: rgba(29,22,24,0.7);
foreground: #FCF4E0;
border-color: #44E0CE;

color0: #453C3E;
color1: #A67068;
color2: #BA6B5C;
color3: #9F7B73;
color4: #33A89B;
color5: #BC9471;
color6: #B9A87C;
color7: #F3E7CA;
color8: #AAA28D;
color9: #DE968A;
color10: #F88F7B;
color11: #D4A49A;
color12: #44E0CE;
color13: #FBC597;
color14: #F7E1A6;
color15: #F3E7CA;


}

