 /* wallust template - colors-rofi */

* {
active-background: #1599CA;
active-foreground: #FCF7CF;
normal-background: #141314;
normal-foreground: #FCF7CF;
urgent-background: #F6A24B;
urgent-foreground: #FCF7CF;

alternate-active-background: #0F95C4;
alternate-active-foreground: #FCF7CF;
alternate-normal-background: #141314;
alternate-normal-foreground: #FCF7CF;
alternate-urgent-background: #141314;
alternate-urgent-foreground: #FCF7CF;

selected-active-background: #F6A24B;
selected-active-foreground: #FCF7CF;
selected-normal-background: #F6A24B;
selected-normal-foreground: #FCF7CF;
selected-urgent-background: #F6A24B;
selected-urgent-foreground: #FCF7CF;

background-color: #141314;
background: rgba(20,19,20,0.7);
foreground: #FCF7CF;
border-color: #1599CA;

color0: #3C3B3B;
color1: #394842;
color2: #7D4131;
color3: #0B7093;
color4: #107398;
color5: #B87938;
color6: #B9AF58;
color7: #F3ECB2;
color8: #AAA57C;
color9: #4C6058;
color10: #A75741;
color11: #0F95C4;
color12: #1599CA;
color13: #F6A24B;
color14: #F7E976;
color15: #F3ECB2;


}

